# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment files
.env
*.env

# Virtual environment
venv/
env/

# Flask-related files
instance/
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
