<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Drinks Inventory</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <h2 class="text-center alert alert-success">Drinks Depot - Inventory</h2>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#newDrinkModal">Add Drink</button>
                    <div id="newDrinkModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Enter New Drink</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST">
                                        <div class="form-group">
                                            <label>
                                                Name of Drink
                                            </label>
                                            <input type="text" name="name_of_drink" placeholder="Name of Drink" class="form-control" id="name_of_drink">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Price
                                            </label>
                                            <input type="text" name="price" placeholder="Price in Naira" class="form-control" id="price">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Quantity Recieved
                                            </label>
                                            <input type="text" name="quantity" placeholder="Quantity Recieved" class="form-control" id="quantity">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Expiry Date
                                            </label>
                                            <input type="text" name="expiry_date" placeholder="Expiry Date" class="form-control" id="expiry_date">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Batch Number
                                            </label>
                                            <input type="text" name="batch_no" placeholder="Batch Number" class="form-control" id="batch_no">
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Drink Subtype
                                            </label>
                                            <input type="text" name="drink_subtype" placeholder="Drink Subtype" class="form-control" id="drink_subtype">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Add Drink</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>